/* Carica i tuoi font .otf (OpenType) */
@font-face {
  font-family: 'PPRightGrotesk-Medium';
  src: url('assets/fonts/PPRightGroteskText-CompactMedium.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-MediumItalic';
  src: url('assets/fonts/PPRightGroteskText-CompactMediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-Regular';
  src: url('assets/fonts/PPRightGroteskText-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-RegularItalic';
  src: url('assets/fonts/PPRightGroteskText-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-SpatialLight';
  src: url('assets/fonts/PPRightGroteskText-SpatialLight.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-SpatialLightItalic';
  src: url('assets/fonts/PPRightGroteskText-SpatialLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-WideBold';
  src: url('assets/fonts/PPRightGroteskText-WideBold.otf') format('opentype');
}

@font-face {
  font-family: 'PPRightGrotesk-WideBoldItalic';
  src: url('assets/fonts/PPRightGroteskText-WideBoldItalic.otf') format('opentype');
}

/* Stili generali */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Imposta l'altezza della pagina al 100% della finestra */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.text-container {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  padding: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

