/* Carica i font personalizzati */
@font-face {
  font-family: 'MyFont1';
  src: url('assets/fonts/MyFont1.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFont2';
  src: url('assets/fonts/MyFont2.ttf') format('truetype');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Imposta l'altezza della pagina al 100% della finestra */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.text-container {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  padding: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
